<!DOCTYPE html>
<html lang="pl">
<head>
	<title></title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
</head>
<body>
	<header>
		<div style="background-color: green">
			<div style="color: white; text-align: center; padding: 10px 0">Site</div>
		</div>
	</header>
	<main class="m-2">
		@RenderBody()
	</main>
	<footer style="position: fixed; bottom: 0; left: 0; right: 0">
		<div style="background-color: green">
			<div style="color: white; text-align: center; padding: 10px 0">Footer</div>
		</div>
	</footer>

	<script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
</body>
</html>
